

.add-product {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .common-form{
    display: flex;
    flex-direction: column;
  }

  .form-input{
    margin: 20px 0px 20px 300px;
    width: 50%;
    
  }
  
  /* Set a style for the submit button */
  .form-button {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0px 20px 300px;
    width: 50%;
    opacity: 0.9;
  }
  
  .form-button:hover {
    opacity: 1;
  }